/*
-------------------------------------------
Fade in top
-------------------------------------------
*/

@-webkit-keyframes fade-in-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(15px);
              transform: translateY(15px);
      opacity: 1;
    }
  }
  @keyframes fade-in-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(15px);
              transform: translateY(15px);
      opacity: 1;
    }
  }

  .fade-in-top {
    -webkit-animation: fade-in-top 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation: fade-in-top 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }

/*
  -------------------------------------------
   Text focus
  -------------------------------------------
*/

  @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  
  .text-focus-in {
    -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
            animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  }

  .text-focus-in-1-delay {
    -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1s both;
            animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1s both;
  }

  .text-focus-in-2-delay {
    -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 2s both;
            animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 2s both;
  }